<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title>index</title>
</head>
<body>
	<form action="/newwork" method="post" th:object="${Work}">
		work name <br>
		<input type="text" name="name"><br>
		salary per hour <br>
		<input type="number" name="hpay">
		<br>
		<button type="submit"></button>
	  </form>
 	<script src="/js/jquery-3.4.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>